doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 公司详情
    link(href='css/header.css', rel='stylesheet')
    link(href='css/info.css', rel='stylesheet')
    link(href='css/reset.css', rel='stylesheet')
    link(href='css/enterpriceDetail.css', rel='stylesheet')
    link(href='css/font-awesome-4.7.0/css/font-awesome.css', rel='stylesheet')
  body
    // 顶部
    header.topHeader
      h3.logoImg IT招聘
      ul.listHeader
        li
          a(href='/user/index') 首页
        li
          a(href='/user/showEnterPoster') 职位
        li
          a(href='/user/showPoster') 公司
        li
          a(href='/user/showAdvert') 资讯
      ul.listHeaderSpec
        li
          a(href='/user/showLogin') 我要找工作
        li
          a(href='/user/showLogin') 我要招聘
      a.register(href='/user/showLogon') 注册
      a.login(href='/user/showLogin') 登录
      p.userName
        | 欢迎! 
        span.userNameSpec
      ul.userPower
        li
          a(href='/user/showuserInfo') 个人中心
           span 编辑在线简历
        li
          a(href='/user/index' class="exitSpec") 退出登录
    // 公司信息
    nav.navi
      ul.naviList
        li #{dataVal[0].enterpricename}
        li(Spectitle=dataVal[0].recruititle).SpecLiTitle
          | #{dataVal[0].recruititle}
          span #{dataVal[0].salary}
        li
          span #{dataVal[0].address}
          span #{dataVal[0].schoolqualify}
        li
          each enwel in enwelfare
            span #{enwel}
      ul.naviList2
        li
          a(href='javascript:;') 上传简历
        li
          a(href='javascript:;' lll=dataVal[0].enterpricename+'-'+dataVal[0].recruititle).setCollect 收藏
            span
    // 公司主要信息
    section.detailContent
      ul.detailList
        li #{dataVal[0].boos}
        li
          span boos
          span 刚刚在线
        li
          dl
            dt 职位描述
            dd #{dataVal[0].describes}
        li
          dl
            dt 工作职责:
            dd #{dataVal[0].works}
        li
          dl
            dt 任职资格
            dd #{dataVal[0].worksqualify}
        li
          dl
            dt 公司介绍
            dd
              | #{dataVal[0].enterpriceSim}
    // 其他信息
    nav.otherInfo
      dl
        dt 企业服务
        dd
          a(href='/user/showEnterPoster') 职位搜索
        dd
          a(href='/user/showAdvert') 新闻资讯
      dl
        dt 使用与帮助
        dd 用户协议与隐私政策
        dd 防骗指南
        dd 使用帮助
      dl
        dt 联系IT招聘
        dd 厦门**网络技术有限公司
        dd 公司地址:厦门市************
        dd
          | 联系电话：
          tel 123-1234567
        dd 违法和不良信息举报:123456789@123.com
      dl
        dt IT招聘
        dd 企业服务热线和举报投诉 123 123 1234
        dd 工作日 8:00 - 22:00
        dd 休息日 9:30 - 18:30
  script(src='js/selectUser.js')
  script(src='js/enterpriceDetail.js')
  script(src='js/axios.js')