tbody
    tr
        td 标题:
        td
            p  #{dataArr[0].recruititle}
    tr
        td 职位描述:
        td
            p  #{dataArr[0].describes}
    tr
        td 工作职责:
        td
            p #{dataArr[0].works}
    tr
        td 任职资格:
        td
            p #{dataArr[0].worksqualify}
    tr
        td 公司介绍:
        td
            p #{dataArr[0].enterpriceSim}
    tr
        td 学历要求:
        td
            p #{dataArr[0].schoolqualify}
    tr
        td 薪资要求:
        td
            p #{dataArr[0].salary}
    tr
        td
        td
        td
            a(href='javascript:;') 返回
            a(href='javascript:;',id=dataArr[0].id) 删除